.Container {
    border: 1rem;
    border-radius: 1rem;
    border-color: aliceblue;
}

body {
    display: flex;
    flex-direction: column;
    min: height 100px;
    background: black;
    color: aliceblue;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: auto;

}

.header1 {}

#user-input {
    flex: 1 1 0%;
    background-color: yellow;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(darker);
    font-size: 1rem;


}

.items {

    justify-content: space-between;
    width: 400px;
    background: grey;
    padding: 20px;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.tasks {
    background: #3399ff;
    padding: 2px;

}

.items .tasks {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
}

.items .tasks .dltbtn {


    display: flex;
    justify-content: flex-end;
    flex: content;
    border-radius: 5px;
    background-color: darkgray;
    padding: 3px;
    margin-bottom: 3px;





}

.items .tasks .edtbtn {
    display: flex;
    justify-content: flex-end;
    flex: content;
    border-radius: 5px;
    background-color: darkgray;
    padding: 3px;
    margin-bottom: 3px;

}
.tasks .dltbtn:after {
    opacity: 0.8;
    content: '\00bb';
    position: absolute;
     opacity: 0;
     top: 0;
    right: -20px;
    transition: 0.5s;
    
}
.tasks .dltbtn:hover {
    opacity: 0.8;
    
    
}

.tasks .edtbtn:hover {
    opacity: 0.8;
}

.tasks .dltbtn:active {
    opacity: 0.6;
    background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}

.tasks .edtbtn:active {
    opacity: 0.6;
    background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}