.container {
    display: flex;
    justify-content: center;
    border: 1rem;
    border-radius: 1rem;
    border-color: aliceblue;
    flex-direction: column;
    
}
.box1{
    display: flex;
    justify-content: center;
    border: 1rem;
    border-radius: 1rem;
    border-color: aliceblue;
    flex-direction: column;
    
    
}
.box2{
    display: flex;
    justify-content: center;
    border: 1rem;
    border-radius: 1rem;
    border-color: aliceblue;
    flex-direction: column;
    
}

body {
    display: flex;
    justify-content: center;
    background: black;
    
    
    

}

.header1{
    color: aliceblue;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

#user-input {
    flex: 1 1 0%;
    background-color: yellow;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(darker);
    font-size: 1rem;
    


}

.items {

    justify-content: space-between;
    width: 400px;
    background: rgb(49, 49, 49);
    padding: 20px;
    border-radius: 1rem;
    margin-bottom: 1rem;
    overflow: auto;
    
    
}

.tasks {
    padding: 2px;
    font-size: 1rem;
    

}

.items .tasks {
    background: #757575;
    color: rgb(206, 228, 11);
    margin: 5px;
    
}

.items .tasks .dltbtn {
    background-image: url("D:\Frontend Projects\To do app\img\delete (1).png");
    background: cover;
    background-size: 2rem;
    display: flex;
    flex: content;
    justify-content: flex-end;
    border-radius: 5px;
    background-color: darkgray;
    padding: 3px;
    margin-bottom: 3px;
}


.items .tasks .edtbtn {
    display: flex;
    justify-content: flex-end;
    flex: content;
    border-radius: 5px;
    background-color: darkgray;
    padding: 3px;
    margin-bottom: 3px;

}
.tasks .dltbtn:after {
    opacity: 0.8;
    content: '\00bb';
    position: absolute;
     opacity: 0;
     top: 0;
    right: -20px;
    transition: 0.5s;
    
}
.tasks .dltbtn:hover {
    opacity: 0.8;
    
    
}

.tasks .edtbtn:hover {
    opacity: 0.8;
}

.tasks .dltbtn:active {
    opacity: 0.6;
    background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}

.tasks .edtbtn:active {
    opacity: 0.6;
    background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}